/_build
/_example
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
.elixir-tools/

# General
.DS_Store
Desktop.ini
.AppleDouble
.LSOverride
.tool-versions
name

# custom
/lib/example
